{
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "env": {
    "mocha": true,
    "meteor": true
  },
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ],
    "padded-blocks": 0,
    "react/prop-types": 0,
    "semi": [2, "never"],
    "space-unary-ops": [
      2, {
        "overrides": {
          "!": true
        }
      }
    ],
    "quote-props": 0,
    "no-confusing-arrow": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": ["error", { "props": false }],
    "import/named": "error",
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-trailing-spaces": 0
  },
  "ecmaFeatures": {
    "spread": true
  }
}